@{
    ViewData["Title"] = "Home Page";
}    

<html xmlns="http://www.w3.org/1999/xhtml">



<body class="w3-container">
    <div class="w3-display-middle">
        <h2>Summary Page</h2>
        @*<h3>Welcome @Session ["firstName"].ToString </h3>*@
        <a asp-action="Login">Log Out</a> @*TODO: Log out function*@
    </div>
</body>
</html>
